{% extends "base_generic.html" %}

{% load static %}

{% block script %}
<script src="{% static 'js/clock.js' %}?{{ script_version }}"></script>
{% endblock %}

{% block breadcrumbs %}

<div class="breadcrumbs">
    {% if user.is_authenticated %}
    <div class="breadcrumbs-text">
        <a href="/">Начало /</a>
        {% if cards %}
        <a href="{% url 'c_index:index' %}">Картотека /</a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}


{% block content %}
{% if user.is_staff %}
<div>
    <div class="row g-1 gy-0">
        <div class="col-md-3 col-sm-0 col-xs-0"></div>

        {% if cards %}
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h1>{{ h1 }}</h1>
            {% comment %}
            <!--a href="{% url 'c_index:index' %}" class="btn-primary-back">
                <img src="{% static 'icons/arrow-left-short.svg' %}" alt="Назад" class="img-back-arrow">
                <span>Назад в группы</span>
            </a-->
            {% endcomment %}
            {% for card in cards %}
            <div class="human-card">
                <a href="/admin/card_index/humancard/{{ card.id }}/change/" class="btn-primary-back btn-primary-edit">
                <img src="{% static 'icons/pencil-square.svg' %}" alt="Назад" class="img-back-arrow">
              </a>
                {% if card.img %}
                <a href="{{ card.img.url }}"><img src="{{ card.img.url }}" alt="" class="img-human-card"></a>
                {% endif %}
                <div>{{ card.name }}</div>
                {% if card.description %}
                <div><small>{{ card.description }}</small></div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h1>{{ h1 }}</h1>
            {% for group in groups %}
            <p class="group-name"><a href="{% url 'c_index:index' %}?group={{ group.slug }}">{{ group }}</a></p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endif %}
{% endblock %}