<nav class="navbar navbar-expand-lg navbar-light">
    <a style="margin-right: 20px" href="{% url 'index' %}">🏠</a>
    <a class="navbar-brand" href="{% url 'index' %}">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown1" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Меню</strong>
               </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/">страница</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Профиль: <strong>{{ user.get_username }}</strong></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a  class="dropdown-item" href="{% url 'cabinet:profile' %}">Страница профиля</a>
                    {#<a class="dropdown-item" href="{% url 'cabinet:logout' %}">Выйти</a>#}
                    <form action="{% url 'cabinet:logout' %}" method="post">
                       {% csrf_token %}
                        <button type="submit" class="button-login-container">выйти</button>
                    </form>

                </div>
            </li>
             {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="{% url 'cabinet:log_in' %}">Войти</a> {# ?next={{request.path}} #}
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Админ меню
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                  <a class="dropdown-item" href="/admin/">Админстративная страница</a>
              </div>

            </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
</nav>


