{% load static %}
<!--div class="content_block"-->
    <p class="digit-clock">{{ local_datetime|date:"H:i" }}</p>
    <p>{{ local_datetime|date:"d E Y D" }}</p>
    <p>
{% for item in all_device %}
    {{ item.name }}: {{ item.last_entry|floatformat:2 }} 'С<br>
{% endfor %}
    </p>
<!--/div-->
