{% load static %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([

          ['Time', 'Температура'],
            {% for item in data %}
              ['{{ item.0.created|date:"d b H:i" }}',  {{ item.0 }}],
             {% endfor %}
            ]);

        var options = {
          title: 'Изменение температуры',
          curveType: 'none',
          legend: { position: 'bottom' },
          pointSize: 3,
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

