{% extends "base_generic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block script %}
    {% comment %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    {% if not user.is_authenticated %}
        <script src="{% static 'js/login_script.js' %}"></script>
    {% endif %}
    {% endcomment %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs-text">
        <a href="/">Начало /</a>
        Вход пользователя
    </div>
{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-10 text-center" > 
		<h2>Вход пользователя</h2>
      </div>
    </div>

        {% if user.is_authenticated %}
        <p>Вы уже выполнили вход</p>
        {% else %}

            <form method="post">
                <!--script src='https://www.google.com/recaptcha/api.js'></script-->
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <!--div class="form-group g-recaptcha" data-sitekey="6Le57cMUAAAAAFWdkVVBdItoTlfodGhSnl-29mzU"></div-->

                <!--input type="hidden" name="next" value="{{ index }}"-->
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                {% comment %}
                <p>
                    <input
                            type="checkbox" name="checkme" id="agree"
                            style="width: 20px;height: 20px;-webkit-appearance: auto;" /> Я прочитал(а)

                    <a href="{% url 'main_app:personal_data_processing' %}" target="_blank">текст политики конфиденциальности и </a>
                    и согласен(на) на обработку персональных данных.
                </p>
                {% endcomment %}
                <input type="submit" id="continue" value="Войти" />
            </form>
        {% endif %}
    
</div>

{% endblock %}
