{% extends "base_generic.html" %}
{% load static %}


{% block styles_for_this_page %}

{% endblock %}


{% block script %}

{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-text">
        <a href="/">Начало /</a>

    </div>
</div>
{% endblock %}


{% block content %}
<div>
    <div class="row g-1 gy-0">
        <div class="col-md-3 col-sm-0 col-xs-0"></div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <h1>Профиль пользователя</h1>
            <div class="human-card">
                <p>Имя пользователя:
                    {{ user.username }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}