:root {
  --main-bg-color: #fff;     /*цвет фона хедера и футера*/
  --main-font-color: #ccccdc;    /*цвет букв*/
  --main-button-color: #ccccdc;    /*цвет кнопок*/
  --main-content-place-back-color: #e2e4e8;
  --main-content-font-color: #4b4f54;
  --main-backgroud-color: #181b1f;
}
* {
    margin: 0;
    padding: 0;
}

.header{
    min-height: 60px;
    /*outline: 1px solid #212121;*/
    display: table;
}
/*
nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}
*/
iframe{
    width:100%;
    height: 144px;
}

.content_block{
    width: 1200px;
    margin: 10px auto;
    border: solid 1px #c0c0c0;
    padding: 10px;
    border-radius: 4px;
}
.base_content{
    margin: 0 auto;
    max-width: 1700px;
}

.iframe_block{
    margin: 0 auto;
    width: 800px;
}

.main{
    background-color:#1d1d1d;
    min-height:810px;
    padding: 0px 6px;
}

#reload-block{
    color: var(--main-font-color);
    text-align: center;
}
.ext-sensor-block-value{
    height: calc((100vh/4) - 2px);
}
.block-value{
    color: var(--main-font-color);
    text-align: center;
    background-color: var(--main-backgroud-color);
    border: 1px solid #2e3136;
    padding: 2px;
    border-radius: 2px;
    /*height: -webkit-fill-available;*/
    height: inherit;
    margin: 2px 0px;
}
.block-ext-value{
    padding:unset;
    margin: 0px 0px;
    margin-right: 2px;
}
.dateTimeValue{
    height: 60px;
    position: relative;
    padding: 2px 60px;
}
.value-sensor-cell{
    position: relative;
    height: calc((100vh/4) - 2px);
    float: left;
    width: 100%;
}
.value-sensor-ext-cell{
    width: 100px;
    height: calc((100vh / 4) - 6px);
}
.block-iframe-value{
    float: left;
    display: block;
    width: calc(100% - 100px);
    /*height: calc((100vh/4) - 2px);*/
}
.unset-block-value{
    font-size: unset;
    margin-top: 6px;
}
.entry-value{
    font-size: xx-large;
    font-weight: bolder;
}
.entry-name{
    font-size: small;
}
.blockPhotoPlace{
    display:block;
    text-align: center;
    position: relative;
    border: 1px solid #2e3136;
    height: calc(100vh - 68px);
}
.blockExtPhotoPlace{
    height: calc(100vh - 230px);
}
.blockPhotoPlace img{
    max-height: calc(100% - 6px);
    max-width:100%;
    display: flex;
}

.photo {
  opacity: 0;
  transition: opacity 5s;
  position: absolute;
  top: 50%;
  left: 50%;
  /* коррекция положения элемента */
  transform: translate(-50%, -50%);
}
.active-photo {
  transition: opacity 5s;
  position: absolute;
  top: 50%;
  left: 50%;
  /* коррекция положения элемента */
  transform: translate(-50%, -50%);
}
.button-switch-photo{
    position: absolute;
    display: block;
    width: 40%;
    /*border: 1px solid white;*/
    /*height: -webkit-fill-available;*/
    height: inherit;
}
.button-left{
    left: 0px;
}
.button-right{
    right: 0px;
}
.image-enter,
.image-leave-to {
  opacity: 0;
}
.digit-clock{
    margin-bottom: 0px;
    line-height: initial;
    font-weight: bolder;
}

.digit-clock-big{
    font-size: 100pt;
}
.digit-clock-small{
    font-size: 90pt;
}
.block-profile-links{
    margin-bottom: 4px;
}
.block-profile-links a{
    text-decoration: none;
    color: var(--main-font-color);
}
.block-profile-links a:hover{
    color: #afafaf;
}
.button-login-logout{
    background-color: var(--main-button-color);
    /*width: min-content;*/
    vertical-align: middle;
    border-radius: 4px;
    padding: 2px;
    /*float: right;*/
    margin-top: 6px;
}
.button-common-control{
    background-color: var(--main-button-color);
    border-radius: 4px;
    vertical-align: middle;
    padding: 2px;
    float: right;
    margin-left: 30px;
}
.button-common-control img{
    width: 60px;
    height: 60px;
}
.defaultDateTimeClass{
    margin-top: 20px;
}
.disableDateTimeClass{
    margin-top: 20px;
    color: var(--main-backgroud-color);
}
.defaultBlockButtons{
    display: none;
}
.activeBlockButtons{
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 10px;
}
.button-login-logout img{
    width: 24px;
    height: 24px;
    /*display: block;*/
}
.button-block {
    position:absolute;
    bottom: 4px;
    right: 4px;
    padding: 10px;
}
.button-login-logout a:hover{
    color: #4d4b4b;
}
.container{
    background-color:#bebebe;
    padding: 48px;
}
.cut-down{
    position: absolute;
    display: block;
    height: 30px;
    width: 36px;
    right: -26px;
    border-top: 3px solid #1dcfd6;
    z-index: 100;
    top: 17px;
    border-right: 3px solid #1dcfd6;

}
.bigDateClockClass{
    font-size: 22pt;
}
.smallDateClockClass{
    font-size: 14pt;
    line-height: normal;
}
h1{
    text-align: center;
    color: var(--main-font-color);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.img-back-arrow{
    max-width: 100%;
    height: auto;
    background-color: var(--main-button-color);
    width: 25px;
    border-radius: 4px;
}
.human-card{
    margin-bottom:20px;
    color: var(--main-font-color);
    position: relative;
}
.img-human-card{
    max-width: 200px;
}
.btn-primary-back{
    margin-bottom: 20px;
    display: block;
}
.btn-primary-edit{
    position: absolute;
    right: 10px;
}
.btn-primary-login{
    text-decoration: none;
}
.button-login-block{
    background-color: var(--main-button-color);
    color: black;
    margin: 20px 0px;
    border-radius: 8px;
    text-align: center;
}
.breadcrumbs{
    height: 30px;
    display: block;
    background-color: black;
    padding: 0px 480px;
}
.breadcrumbs-text{
    color: var(--main-font-color);
}
.breadcrumbs-text a, .group-name a{
    text-decoration: none;
    color: var(--main-font-color);
}

.breadcrumbs-text a:hover, .group-name a:hover{
    text-decoration: none;
    color: #8c8c8e;
}
@media (max-width: 1920px) {
    .ext-sensor-block-value {
        height: 150px;
    }
    .value-sensor-ext-cell {
        height: 144px;
    }
    .blockExtPhotoPlace{
        height: 368px;
    }
}
@media (max-width: 1200px) {
    .breadcrumbs {
        padding: 0px 20px;
    }
    .entry-value{
        font-size: 18pt;
    }
}

@media (max-width: 767px) {
    .breadcrumbs {
        padding: 0px 20px;
    }
    .content_block {
        margin: 10px;
        width: auto;
    }
    .entry-value{
        font-size: 12pt;
    }
    .value-sensor-cell{
        height: auto;
        float: right;
        width: 50%;
    }
    .bigDateClockClass{
        display: none;
    }
    .blockPhotoPlace{
        height: 300px;
    }
}