{% extends "base_generic.html" %}

{% load static %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div class="errorPage">
        <div class="container errorPage__container">
            <h1 class="errorPage__title">Ошибка 404</h1>
            <div class="errorPage__text">Вы попали на несуществующую страницу.</div>
            <a class="errorPage__button button" href="/">Перейти на главную</a>
        </div>
    </div>

{% endblock %}