{% extends "base_generic.html" %}

{% load static %}
{% block breadcrumbs %}
    <div class="breadcrumbs-text">
        <a href="/">Начало /</a>
        Ошибка 403
    </div>
{% endblock %}

{% block content %}

    <div class="errorPage">
        <div class="container errorPage__container">
            <h1 class="errorPage__title">Ошибка 500</h1>
            <div class="errorPage__text">Ошибка сервера. Обратитесь к администратору ресурса.</div>
            <a class="errorPage__button button" href="/">Перейти на главную</a>
        </div>
    </div>

{% endblock %}