<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Административный ресурс</title>
    {% endif %}
    {% if description %}
    <meta name="description" content="{{ description }}"/>
    {% else %}
    <meta name="description" content="Административный ресурс"/>
    {% endif %}
    {% load static %}
    <link rel="icon" href="{% static '/icons/favicon.ico' %}"/>

    {#<link href="{% static '/icons/favicon.png' %}" rel="shortcut icon" type="image/png">#}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}?{{ script_version }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{{ script_version }}">

    <!--script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script-->
    <script type="text/javascript" src="{% static 'js/jquery-latest.min.js' %}"></script>

    <!--script type="text/javascript" src="{% static '/js/vue/cdn.jsdelivr.net_npm_vue@2.6.14_dist_vue.js' %}"></script-->
    <script type="text/javascript" src="{% static '/js/vue/vue.global.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/vue/unpkg.com_axios@1.4.0_dist_axios.min.js' %}"></script>


</head>
<body class="page">
    {% comment %}
    <!--div class="middle-header">
      <div class="sub-middlehead">
          {% include 'include/header.html' %}
      </div>
    </div-->
    {% endcomment %}
    {% block breadcrumbs %}
    {% endblock %}
    <main class="main">
    {% block content %}
    {% endblock %}
    </main>

     <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
    {#<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}


    <!-- scripts for this page-->
    {% block script %}
    {% endblock %}

</body>
</html>