{% extends "base_generic.html" %}

{% load static %}

{% block script %}
    <script src="{% static 'js/clock.js' %}?{{ script_version }}"></script>
{% endblock %}

{% block breadcrumbs %}
{% comment %}
<div class="breadcrumbs">
    {% if user.is_authenticated %}
    <div class="breadcrumbs-text">
        Начало /
    </div>
    {% endif %}
</div>
{% endcomment %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<div class="row g-1 gy-0" style="color: white;">
    <div class="col-md-3 col-sm-0 col-xs-0"></div>
    <div class="col-md-6 col-sm-12 col-xs-12">

        {% if user.is_staff %}
        <a href="{% url 'c_index:index' %}" class="btn-primary-login">
            <div class="button-login-block">
                <span>Картотека</span>
            </div>
        </a>
        <a href="/admin/" class="btn-primary-login">
            <div class="button-login-block">
                <span>Админ страница</span>
            </div>
        </a>
        {% endif %}
        <a href="{% url 'cabinet:profile' %}" class="btn-primary-login">
            <div class="button-login-block">
                <span>Профиль</span>
            </div>
        </a>
        <br>
        <a href="{% url 'main_app:photo_border' %}" class="btn-primary-login">
            <div class="button-login-block">
                <span>Фоторамка</span>
            </div>
        </a>
        <a href="{% url 'main_app:photo_border_ext' %}" class="btn-primary-login">
            <div class="button-login-block">
                <span>Фоторамка с графиками</span>
            </div>
        </a>
    </div>
</div>
<hr>
<div class="row g-1 gy-0" style="color: white;">
    <div class="col-md-3 col-sm-0 col-xs-0"></div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <form action="{% url 'cabinet:logout' %}" method="post" style="float: right;">
            {% csrf_token %}
            <button  class="button-login-logout" type="submit" style="border: unset;">
                <img src="{% static '/icons/box-arrow-right.svg' %}">
                <span>Выйти</span>
            </button>
        </form>

    </div>
</div>
{% else %}
<div>
    <div class="row g-1 gy-0" style="color: white;">
        <div class="col-md-3 col-sm-0 col-xs-0"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
                <a href="{% url 'cabinet:log_in' %}" class="btn-primary-login">
                    <div class="button-login-block">
                        <img src="{% static '/icons/box-arrow-in-right.svg' %}" class="img-back-arrow"> <span>Войти</span>
                    </div>
                </a>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}