{% extends "base_generic.html" %}

{% load static %}

{% block script %}
<script src="{% static 'js/clock.js' %}?{{ script_version }}"></script>
{% endblock %}

{% block breadcrumbs %}
{% comment %}
<div class="breadcrumbs">
    {% if user.is_authenticated %}
    <div class="breadcrumbs-text">
        Начало /
    </div>
    {% endif %}
</div>
{% endcomment %}
{% endblock %}


{% block content %}
<div id="app" data-template="photo_border_ext">
    <div class="row g-1 gy-0">
        <div :class="activeClass">
            {% for item in all_sensors %}
            <div class="ext-sensor-block-value">
                <div class="value-sensor-cell value-sensor-ext-cell">
                    <div class="block-value block-ext-value">
                        <div class="entry-value" data-id="{{ item.uid }}">{# item.last_entry|floatformat:"-1" #}</div>
                        <div><small>{{ item.name }}</small></div>

                    </div>
                </div>
                <div class="block-iframe-value">
                    {{ item.iframe|safe }}
                </div>
                <div style="clear:both;"></div>
                <!--div class="c-ring" style="position: absolute;right: 5px;width: auto;top: 5px;">
                    <svg height="20" width="20">
                        <circle cx="10" cy="10" r="6" style="fill:#000 ; stroke-width:3; stroke:#1dcfd6; fill-opacity:0.7" />
                    </svg>
                </div-->
                <!--div class="cut-down" style="width: 34px;"></div-->
            </div>
            {% endfor %}
        </div>

        <div :class="activeAddColClass">
            <div class="block-value" style="height: 222px;position: relative;">
                <div :class="blockDateTimeClass">
                    <div id="clock" :class="clockClass" data-url="{% url 'api:entries_data' %}" @click="switchToShowButtonMode()"
                         data-photo-url="{% url 'api:get_photo' %}">
                    </div>
                    <div id="dateClock" :class="DateClockClass"></div>
                    <!--div class="c-ring" style="width: auto;position: absolute;">
                        <svg height="20" width="20">
                           <circle cx="10" cy="10" r="6" style="fill:#000 ; stroke-width:3; stroke:#1dcfd6; fill-opacity:0.7" />
                        </svg>
                    </div-->
                    <div></div>
                    <div :class="blockButtonsClass">
                        {% comment %}
                        {% if user.is_authenticated %}
                        <!--form action="{% url 'cabinet:logout' %}" method="post" style="float: right;">
                            {% csrf_token %}
                            <button  class="button-login-logout" type="submit" style="border: unset;">
                                <img src="{% static '/icons/box-arrow-right.svg' %}">
                            </button>
                        </form>
                        {% else %}
                        <a href="{% url 'cabinet:log_in' %}">
                            <div class="button-login-logout" style="">
                                <img src="{% static '/icons/box-arrow-in-right.svg' %}">
                            </div>
                        </a-->
                        {% endif %}
                        {% endcomment %}
                        <div class="button-common-control" @click="switchToHideButtonMode()">
                            <img src="{% static '/icons/x-lg.svg' %}">
                        </div>
                        <div class="button-common-control">
                            <a href="/"><img src="{% static '/icons/house.svg' %}"></a>
                        </div>
                        <div class="button-common-control" @click="changeModePage()">
                            <img src="{% static '/icons/grid.svg' %}">
                        </div>
                        <div class="button-common-control" @click="reloadAllPhoto()">
                            <img src="{% static '/icons/arrow-clockwise.svg' %}">
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="blockPhotoPlace blockExtPhotoPlace" id="photoPlace">
                <img v-for="(item, key) in all_photo" :src="item.img" :id="'photo-'+ key" loading="lazy" :class="item.class">
                <div class="button-switch-photo button-left" @click="switchPhotoToLeft()"></div>
                <div class="button-switch-photo button-right" @click="switchPhotoToRight()"></div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/js/vue/app_photo_border_ext.js' %}?{{ script_version }}"></script>

{% endblock %}