{% extends "base_generic.html" %}

{% load static %}

{% block script %}
    <script src="{% static 'js/clock.js' %}?{{ script_version }}"></script>

{% endblock %}

{% block breadcrumbs %}
{% comment %}
<div class="breadcrumbs">
    {% if user.is_authenticated %}
    <div class="breadcrumbs-text">
        Начало /
    </div>
    {% endif %}
</div>
{% endcomment %}
{% endblock %}


{% block content %}
<div id="app" data-template="photo_border">
  <div class="row g-1 gy-0">
    <div :class="activeClass">  <!-- activeClass="active" устанавливаете в js c помощью vue -->
         {% for item in all_sensors %}
         <div class="value-sensor-cell">
            <div class="block-value">
                <div class="entry-value" data-id="{{ item.uid }}">{# item.last_entry|floatformat:"-1" #}</div>
                <div class="entry-name">{{ item.name }}</div>
            </div>
         </div>
         {% endfor %}
    </div>

    <div :class="activeAddColClass">
        <div class="block-value dateTimeValue">
            <div style="">
                <div id="clock" :class="clockClass" data-url="{% url 'api:entries_data' %}" style="float: left;font-size: 35pt;"
                data-photo-url="{% url 'api:get_photo' %}"
                ></div>
                <div id="dateClock" :class="DateClockClass" style="padding: 6px 20px;"></div>
                <!--div class="c-ring" style="width: auto;position: absolute;">
                    <svg height="20" width="20">
                       <circle cx="10" cy="10" r="6" style="fill:#000 ; stroke-width:3; stroke:#1dcfd6; fill-opacity:0.7" />
                    </svg>
                </div-->

                <div class="button-block">
                    {% comment %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'cabinet:logout' %}" method="post" style="float: right;">
                       {% csrf_token %}
                        <button  class="button-login-logout" type="submit" style="border: unset;">
                            <img src="{% static '/icons/box-arrow-right.svg' %}">
                        </button>
                    </form>
                    {% else %}
                    <a href="{% url 'cabinet:log_in' %}">
                        <div class="button-login-logout" style="">
                            <img src="{% static '/icons/box-arrow-in-right.svg' %}">
                        </div>
                    </a>
                    {% endif %}

                    <div class="button-login-logout" @click="changeModePage()">
                            <img src="{% static '/icons/grid.svg' %}">
                    </div>
                    <div style="clear:both;"></div>
                    {% endcomment %}
                    <div class="button-login-logout" @click="reloadAllPhoto()">
                        <img src="{% static '/icons/arrow-clockwise.svg' %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="blockPhotoPlace" id="photoPlace">
           <img v-for="(item, key) in all_photo" :src="item.img" :id="'photo-'+ key" loading="lazy" :class="item.class">
            <div class="button-switch-photo button-left" @click="switchPhotoToLeft()"></div>
            <div class="button-switch-photo button-right" @click="switchPhotoToRight()"></div>
        </div>

    </div>
  </div>
</div>
<div class="row g-1 gy-0" style="color: white;">
    <div class="col-md-3 col-sm-0 col-xs-0"></div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <a href="/" class="btn-primary-login">
            <div class="button-login-block">
                <span>На главную</span>
            </div>
        </a>
    </div>
</div>

<script type="text/javascript" src="{% static '/js/vue/app_photo_border_ext.js' %}?{{ script_version }}"></script>

{% endblock %}